
<div class="_header">
    <div class="_header-brand">
      <a href="/">
        <img src="./assets/LOGO.png" alt="">
      </a>
    </div>
    <div class="_header-menu">
      <ul class="_main-menu">
        <a href=""><li class="_active-page _main-menu-item">Home</li></a>
        <a href=""><li class="_main-menu-item">Movies</li></a>
        <a href=""><li class="_main-menu-item">Tv Shows</li></a>
      </ul>
    </div>
    <div class="_header-action">
      <div class="_header_buttons">

        <a href="/register"><button class="btn btn-outline-primary" *ngIf="localStorage.getItem('id') == null">Register</button></a>
        <a href="/login"><button class="btn btn-primary" *ngIf="localStorage.getItem('id') == null">Sign In</button></a>
        <div class="_profile-section">
          <a href="/login">
            <button class="btn btn-primary btn-profile" *ngIf="localStorage.getItem('id') != null">Logout</button>
          </a>


        </div>
      </div>
    </div>
  <div class="_header-hamburger-menu">
    <i class="bi bi-list"></i>
  </div>
</div>
