<div class="_card mb-3">
  <div class="_card-banner">
    <a [href]="href"><span class="title">{{ title }}</span></a>
    <a [href]="href"><span class="play"><i class="bi bi-play"></i></span></a>
    <span *ngIf="!this.isLiked" (click)="this.isLiked = true" class="heart"><i class="bi bi-heart"></i></span>
    <span *ngIf="this.isLiked" (click)="this.isLiked = false" class="heart active-heart"><i class="bi bi-heart-fill"></i></span>
    <a  [href]="href"><img [src]="src" alt=""></a>
  </div>
</div>
