<div class="_login-form mt-5">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="_login-card">
      <form [formGroup]="Login" (ngSubmit)="proceedLogin()">
        <h3 class="mb-5 fw-semibold">Login</h3>
        <div class="form-outline mb-4">
          <label class="form-label" for="typeEmailX-2">Email</label>
          <input placeholder="Enter email" type="email" id="typeEmailX-2" class="form-control form-control-m"
                 formControlName="email"/>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="typePasswordX-2">Password</label>
          <input placeholder="Enter password" type="password" id="typePasswordX-2" class="form-control form-control-m"
                 formControlName="password"/>
        </div>
        <button style="width: 100%;" class="btn btn-primary btn-m btn-block" type="submit">Login</button>
      </form>
    </div>
  </div>

</div>
