<h2 class="fw-semibold">Users & Roles</h2>
<hr>
<div class="mb-3">
    <button [routerLink]="'/user'" class="btn" [class.btn-primary]="currentUrl === '/user'" [class.btn-outline-primary]="currentUrl !== '/user'" [class.me-2]="true">
        Users
    </button>
    <button [routerLink]="'/user/role'" class="btn" [class.btn-primary]="currentUrl === '/user/role'" [class.btn-outline-primary]="currentUrl !== '/user/role'" [class.me-2]="true">
        Roles
    </button>
</div>

<router-outlet></router-outlet>
